@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    font: normal 1em arial;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    background-color: white;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    margin: auto;
    padding: 10px;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px;
}

